.product-card {
    max-width: 210px;
    margin-bottom: 30px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right-color: rgba(255, 255, 255, 0.1);
    border-bottom-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);

    .image-wrapper {
        position: relative;
        width: 100%;
        height: 300px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        overflow: hidden;
        border-radius: 5px;
        box-shadow: 2px 4px 4px 0px rgba(0,0,0,0.3);
    }

    & img {
        max-width: 320px;
        min-height: 320px;
    }

    .product-name {
        height: 40px;
        margin: 0 15px 10px;
        font-size: 14px;
        color: #7a7a7c;
    }

    .card-footer {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: end;

        .add-favorite {
            margin-bottom: 10px;
            margin-left: 15px;
            padding: 0;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 50%;
            border: 1.5px solid #dddddd; 
            cursor: pointer;

            &:hover {
                background-color: #dddddd; 
                border-radius: 60px; 
            }
            .icon-star :hover {
                color: blue;
            }
        }

        .product-price {
            width: 70px;
            padding: 5px 10px;
            margin: 0 15px 10px;
            text-align: center;
            font-size: 14px;
            font-weight: 600;
            border-radius: 25px;
            color: #fff;
            background-color: #cc3333;
        }
    }

    .add-to-cart {
        margin: 0 15px 15px;
        width: 180px;
        height: 30px;
        font-size: 12px;
        font-weight: 600;
        color: #9a9a9c;
        border-radius: 25px;
        border: 1.5px solid #dddddd;
        cursor: pointer;

        &:hover {
            background-color: #dddddd; 
            color: blue;
        }
    } 
    .remove-to-cart {
        margin: 0 15px 15px;
        width: 180px;
        height: 30px;
        font-size: 12px;
        font-weight: 600;
        color: blue;
        border-radius: 25px;
        background-color: #f4f88b; 
        border: 1.5px solid  #dddddd;
        cursor: pointer;
    } 

}