.checkout-form {
    width: 70%;
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;

    .checkout-form__row {
        width: 50%;
        margin-left: 120px;
        display: flex;
        flex-direction: column;

        .form-group {
            width: 100%;
            margin-bottom: 15px;
            display: flex;
            justify-content: space-between;
            align-items: end;
            font-size: 14px;
        }

        .btn-checkout__wrapper {
            width: 100%;
            display: flex;
            justify-content: start;
        }

        .btn-checkout {
            min-width: 150px;
            margin-left: 0;
            margin-top: 30px;
            padding: 5px 16px;
            font-size: 18px;
        }

        #phone {
            font-size: 16px;
            color: #9a9a9c;

            &:hover,
            &:focus {
                border-color: #dc3545;
                box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
            }
        }

        .error-message {
            margin-top: 4px;
            font-size: 12px;
            text-align: left;
            color: #dc3545;
        }

    }

}