.footer {
    position: relative;
    margin: 10px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#ccc;
    font-size: 11px;
    text-transform: uppercase;
}